<div ng-controller="groupInfoCtrl">
	<div class="col-md-6 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Members</h4>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Members</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr class="active" ng-repeat="grpMem in groupMembers">
							<td>{{ grpMem.email }}</td>
							<td><button type="button" class="btn btn-primary"
									ng-click="removeMember(grpMem)">Delete Member</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-12 col-sm-6"></div>
		<div class="col-md-2 col-sm-4"></div>
	</div>

</div>
