<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-cookies.js"></script>
<script src="angularjs/groups.js"></script>

<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>Welcome</title>
</head>
<body ng-app="groups" ng-controller="groupsCtrl">

	<div>
		<nav class="navbar navbar-fixed-top header"
			style="background-color: #3A5795; height: 45px">
			<div class="col-md-12">
				<div class="navbar-header">

					<a href="#" class="navbar-brand" style="color: #FFFFFF"><b>f</b></a>
					

				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse1">

			      <form class="navbar-form pull-left">
		          <div class="input-group" style="max-width:470px;">
		            <input type="text" class="form-control" ng-model="searchQuery" placeholder="Search Facebook" name="srch-term" id="srch-term">
		            <div class="input-group-btn">
		              <button class="btn btn-default btn-primary" ng-click="searchFriends();" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		            </div>
		          </div>
		          </form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
							<ul class="dropdown-menu">
								<li><a ng-click="logout();"><span
										class="badge pull-right"></span>Logout</a></li>
							</ul></li>
					</ul>

				</div>
			</div>

			<div class="row" style="padding-top: 70px">
				<div class="col-md-2 col-sm-4">
		</div>

				<div class="col-md-6 col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							
							<h4>Groups</h4>
						</div>
						<div class="panel-body">
							<table class="table">
								<% for (var i=0; i<data.length; i++) { %>
								<a href="/groups/<%= data[i].groupName %>" <li><%= data[i].groupName %></li></a>
								<br>
								<% } %>
							</table>
						</div>
					</div>
					
					
					<!--
					<form action="demo_form.asp" method="get">
					<input type="checkbox" name="vehicle" value="Bike"> 
					-->
					<div class="col-md-12 col-sm-6">
				   	 
					 <div class="well"> 
				     <form class="form-horizontal" role="form">
				      <h4>Create New Group</h4>
				       <div class="form-group" style="padding:20px;">
				        <textarea class="form-control" placeholder="Group Name" ng-model="groupName"></textarea>
				      </div>
				      <input type="submit" class="btn btn-success pull-right" ng-click="createGroups();" value = "Create"></button>
				    </form>
				    
					<div class="col-md-6" style="margin: 10px;padding:20px">
					<div class="alert alert-danger" ng-hide="failedGrpCreate">
						<strong>Group already exists</strong>
					</div>
					<div class="alert alert-danger" ng-hide="successfulGrpCreate">
						<strong>Created group sucessfully.</strong>
					</div>
				</div>

				    </div>


				</div>
				<div class="col-md-2 col-sm-4">							
						</div>
					</div>

				</div>
			</div>
</body>
</html>
