<!DOCTYPE html>
<html>
  <head>
    <title>Failed Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<ul>
    <% for(var i=0; i<data.length; i++) { %>
        <li>
                <%= data[i].friend_id %>
            </a>
        </li>
    <% } %>
</ul>
  </body>
</html>
